<form class="form-group" name="myForm">
    <div class="table-responsive borderless">
        <table class="table table-striped borderless">
            <thead>
                <tr>
                    <th>Family</th>
                    <th>Product</th>
                    <th>Variable</th>
                    <th>Name/HEX/RGBA</th>
                    <th class="wide">Preview</th>
                    <th class="centered"><i class="fa fa-exclamation-triangle"></i></th>
                    <th class="centered">&nbsp;</th>
                </tr>
            </thead>
            <tbody>
                <tr>
            <td class="borderless form-group" ng-class="{error: myForm.colorFamily.$invalid}">
                <input type="text" class="form-control" name="colorFamily" ng-model="ccApp.colorFamily" required>
                <span class="help-block" ng-show="myForm.colorFamily.$error.required">Required</span>
            </td>
            <td class="borderless form-group">
                <input type="text" class="form-control" name="colorProduct" ng-model="ccApp.colorProduct">
            </td>
            <td class="borderless form-group" ng-class="{error: myForm.colorVariable.$invalid}">
                <input type="text" class="form-control" name="colorVariable" ng-model="ccApp.colorVariable" required>
                <span class="help-block" ng-show="myForm.colorVariable.$error.required">Required</span>
            </td>
            <td class="borderless form-group" ng-class="{error: myForm.colorCode.$invalid}">
                <input type="text" class="form-control" name="colorCode" ng-model="ccApp.colorCode" required>
                <span class="help-block" ng-show="myForm.colorCode.$error.required">Required</span>
            </td>
            <td class="borderless form-group" style="background-color: {{ccApp.colorCode}}"></td>
            <td class="borderless centered form-group">
                <input type="checkbox" class="form-control" name="colorWidelyUsed" ng-model="ccApp.colorWidelyUsed">
            </td>
            <td class="borderless centered">
                <div class="btn-group">
                    <a href="#/" class="btn btn-default">Cancel</a>
                    <button type="button" class="btn btn-primary" ng-click="save()" ng-disabled="myForm.$invalid"><i class="fa fa-floppy-o"></i></button>
                    <button type="button" class="btn btn-danger" ng-click="destroy()" ng-show="ccApp.$remove"><i class="fa fa-trash-o"></i></button>
                </div>
            </td>
                </tr>
            </tbody>
        </table>
    </div>
</form>
