<form role="form">
    <label for="search-form" class="sr-only">Search for existing colors</label>
    <input type="text" class="form-control input-lg" name="search-form" ng-model="search" placeholder="Search">
</form>
<div class="table-responsive borderless">
    <table class="table table-striped borderless">
        <thead>
            <tr>
                <th ng-click="changeSorting('colorFamily')">
                    Family
                </th>
                <th ng-click="changeSorting('colorProduct')">
                    Product
                </th>
                <th ng-click="changeSorting('colorVariable')">
                    Variable
                </th>
                <th ng-click="changeSorting('colorCode')">
                    Name/HEX/RGBA
                </th>
                <th class="wide">Preview</th>
                <th class="centered"><i class="fa fa-exclamation-triangle" title="Widely used colors that may not be deleted!"></i></th>
                <th class="centered narrow">
                    <a class="btn btn-default" href="#/new"><i class="fa fa-plus"></i> Add</a>
                </th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="item in colors | orderByPriority | filter:search | orderBy:sort.column:sort.descending">
                <td class="borderless">
                    {{item.colorFamily}}
                </td>
                <td class="borderless">
                    {{item.colorProduct}}
                </td>
                <td class="borderless">
                    {{item.colorVariable}}
                </td>
                <td class="borderless">
                    {{item.colorCode}}
                </td>
                <td class="borderless" style="background-color: {{item.colorCode}}"></td>
                <td class="borderless centered">
                    <span ng-if="item.colorWidelyUsed == true">
                        <i class="fa fa-exclamation-triangle" title="This color is widely used and may not be deleted!"></i>
                    </span>
                </td>
                <td class="borderless centered">
                    <a class="btn btn-default btn-xs" href="#/edit/{{item.$id}}"><i class="fa fa-pencil"></i></a>
                </td>
            </tr>
        </tbody>
    </table>
</div>
