<form role="form">
    <div class="form-group">
        <label for="search-form" class="sr-only">Email address</label>
        <input type="text" class="form-control input-lg" name="search-form" ng-model="search" placeholder="Search">
    </div>
</form>
<div class="table-responsive borderless">
<table class="table table-striped borderless">
    <thead>
        <tr>
            <th>Project</th>
            <th>Description</th>
            <th>
                <a href="#/new"><i class="fa fa-plus"></i></a>
            </th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="project in projects | orderByPriority | filter:search | orderBy:'name'">
            <td class="borderless">
                <a href="{{project.site}}" target="_blank">{{project.name}}</a>
            </td>
            <td class="borderless">
                {{project.description}}
            </td>
            <td class="borderless">
                <a href="#/edit/{{project.$id}}"><i class="fa fa-pencil"></i></a>
            </td>
        </tr>
    </tbody>
</table>
</div>
