@import "variables";

th { font-weight: bold; }
.page { margin: 0 auto; min-height: 100px; padding: 20px; }
.borderless { border: none!important; }
.centered { text-align: center; }
.wide { width: 20%; }
.narrow { width: 3%; }
